
@model BrickPile.UI.Web.ViewModels.IDashboardViewModel

@{
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section GlobalNavigation {
    <ul>
        <li class="dashboard">@Html.ActionLink("Dashboard", "index", "dashboard")</li>
        <li class="current content">@Html.ActionLink("Content", "index", "content")</li>
        <li class="settings">@Html.ActionLink("Settings", "index", "settings")</li>
    </ul>
}

<nav id="local-nav">
    
    <menu id="actions">
        <button class="action new" data-val-href="@Url.Action("add", "content", new { model = Model.CurrentModel })"></button>
    </menu>

    @Html.Partial("_LocalNavigation", Model)
</nav>

<div id="content">

    <aside id="toolbar">
        <menu>
            <a href="#" class="action inactive">Publish</a>
            <a href="#" class="action inactive">Drafts</a>
        </menu>
    </aside>

    @Html.ValidationSummary()

    @using (Html.BeginForm("update", "content", new { model = Model.CurrentModel }, FormMethod.Post, new { name = "editForm" }))
    {
        <div>
            @Html.EditorFor(model => model.CurrentModel.Metadata)
            @Html.EditorFor(model => model.CurrentModel, new { StructureInfo = Model.StructureInfo })
        </div>
        <input type="submit" value="Save" class="action save" />
    }
</div>


@section Footer {
    <footer>
        <menu type="toolbar">
            <button class="actions"></button>
            <button class="sort"></button>
        </menu>   
    </footer>
}
