
@model BrickPile.UI.Models.Settings
@{
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section GlobalNavigation {
    <ul>
        <li class="dashboard">@Html.ActionLink("Dashboard", "index", "dashboard")</li>
        <li class="content">@Html.ActionLink("Content", "index", "content")</li>
        <li class="current settings">@Html.ActionLink("Settings", "index", "settings")</li>
        <!--li>@Html.ActionLink("Library", "index", "library", null, new { @class = "library" })</li>
		<li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users" })</li-->
    </ul>
}
<h1>Preferences</h1>

@Html.ValidationSummary()

@using (Html.BeginForm("save", "settings"))
{
    <div>
        @Html.EditorForModel()
        <div class="editor-button">
            <input type="submit" value="Save" style="float:none;margin:1em 0 0;" />
        </div>
    </div>
}