
@using System.Globalization;

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/global.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/framework.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/dashboard.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/views.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/areas/brickpile.ui/styles/jquery.selectBox.css")" media="all" />

    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery-1.6.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery-ui-1.8.13.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery.slugify.js")"></script>
    <!--script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery.selectBox.min.js")"></script-->
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/tiny_mce/tiny_mce.js")"></script>
    <!--script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/pixlr.js")"></script-->
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/dashboard.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery.event.hover.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/areas/brickpile.ui/scripts/jquery.ui.nestedSortable.js")"></script>
    
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            editor_selector: "tinymce",
            theme: "advanced",
            skin: "cirkuit",
            plugins: "paste",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_buttons1: "media,formatselect,separator,bold,italic,separator,bullist,numlist,separator,link,unlink,image,separator,code,separator,undo,redo,fullscreen",
            //theme_advanced_buttons1: "bold,italic,separator,blockquote,bullist,numlist,separator,link,unlink,indent,outdent,separator,code",
            theme_advanced_buttons2: "",
            theme_advanced_buttons3: "pastetext,pasteword,selectall",
            paste_remove_styles: true,
            theme_advanced_path: false,
            theme_advanced_statusbar_location: "none",
            extended_valid_elements: "pre[name|class|cols|rows]",
            remove_linebreaks: false,
            convert_urls: false
        });
    </script>
</head>
<body class="@ViewBag.Class">
    <header>
        <nav id="global-nav" role="navigation">
            @RenderSection( "GlobalNavigation", required:true )
        </nav>
        @RenderSection("Actions", required:false)
    </header>
    <div id="main">
        @RenderBody()
    </div>
    @RenderSection( "Footer", required:false )
</body>
</html>
